/* Defaulting Fonts to Roboto */
body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
 header, footer, .hero, .hero-section {
    background-color: #1f2937;
    padding: 3%;
 }
  .hero h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
  }
  .hero p, footer, header, header a {
    color: #e5e7eb;
    font-size: 18px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .name {
    font-weight: 900;
    font-size: 24px;
    color: #f9faf8;
  }
  footer {
    text-align: center;
  }
  header, header a {
    text-decoration: none;
  }
  button, button a {
    background-color: #3882f6;
    color: white;
  }
  .hero-section {
    display: flex;
    flex-direction: row;
  }
  .hero-section img {
    height:300px;
    width: 300px;
  }
  button {
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
  }
  a {
    text-decoration: none;
    margin: 10px;
  }
  .projects-section {
    text-align: center;
    flex-direction: row;
  }
  .projects-container {
    /* display: flex; */
    text-align: center;
  }
  figure img {
    width: 20%;
  }
  figure a {
    color: black;
    text-decoration: none;
  }
  .quote-section {
    background-color: #e5e7eb;
    color: #1f2937;
    text-align: justify;
  }
  .quote-container {
    padding: 5% 5%;
  }
  .quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
  }
  .author {
    font-weight: 800;
    text-align: right;
    font-size: 24px;
  }
  .github {
    padding: 5% 5%;
    color: white;
  }
  .github-container {
    padding: 1% 10%;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .github-container div p{
    color: #e5e7eb;
  }
  .github-container button {
    border: 2px solid white;
    display: inline-block;
    height: 3em;
    border-radius: 10px;
    font-weight: bold;
  }